body {
  background-color: #f6f7f8;
  overflow-x: hidden;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: rgba(230, 62, 62, 0.918);
  color: #fff;
  border: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.scroll-to-top:hover {
  background-color: rgba(231, 43, 43, 0.74);
}

.show-scroll-button {
  display: flex;
}

/* pagination button */
#pagination_button:active,
#pagination_button:focus {
  outline: none;
  box-shadow: none;
}

/* category dropdown menu active  */
.dropdown-item.active {
  background-color: rgba(231, 43, 43, 0.74);
}

/* quantity input text */
#quantity_input {
  width: 60px;
  border: none;
}
#quantity_input:active,
#quantity_input:focus {
  box-shadow: none;
  outline: none;
  border: none;
}
